@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.body {
  position: relative;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  height: 95%;
  padding: 0 15px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 675px;
  }
}
@media screen and (max-width: 690px) {
  .container {
    max-width: none;
  }
}
.maincontent {
  height: 100%;
}

.hero {
  position: relative;
  margin: 0 0 104px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 72px 0 0 0;
}

@media screen and (max-width: 760px) {
  .hero__content {
    margin: 0;
  }
}
.hero__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 49px 0;
}

@media screen and (max-width: 760px) {
  .hero__block {
    margin: 50px 0 0 134px;
    display: flex;
    flex-direction: column;
  }
}
.hero__block-title {
  font-family: "gilroy-bold";
  font-size: 47.3392px;
  line-height: 59px;
  margin-right: 225px;
}

.hero__block-bio {
  font-family: "gilroy-medium";
  font-size: 15px;
  line-height: 22px;
  padding-right: 300px;
}

.hero__block-lang {
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  font-family: "gilroy-bold";
  transform: rotate(-90deg);
}

@media screen and (max-width: 990px) {
  .hero__block-lang {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .hero__img {
    width: 317px;
    height: 476px;
    object-fit: none;
  }
}
.lang__color {
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 27px 0 0 0;
}

@media screen and (max-width: 790px) {
  .header {
    left: 80%;
    top: 7%;
  }
  .header__menu span {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 150px;
    top: 6px;
    transition: 0.5s;
  }
  .header .header__menu {
    display: block;
    position: relative;
    width: 25px;
    height: 15px;
    padding: 5px 10px 0 10px;
  }
  .header .header__menu:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 150px;
    bottom: 1px;
    transition: 0.5s;
  }
  .header .header__menu:before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 150px;
    top: 1px;
    transition: 0.5s;
  }
  .header .header__menu:before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 1px;
    transition: 0.5s;
  }
  .show-menu {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.menu {
  position: relative;
}
.menu:after {
  content: "";
  position: absolute;
  width: 920px;
  height: 0;
  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
  left: 0;
  top: 55px;
  background: black;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  font-family: "gilroy-bold";
  margin-right: 148px;
}
.menu__item:last-child {
  margin-right: 0%;
}

.menu__link {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}
.menu__link:hover {
  color: black;
  transition: 0.5s;
}

@media screen and (max-width: 990px) {
  .menu__link {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu:after {
    display: none;
  }
  .header__menu.show-menu:before {
    transform: rotate(45deg) scale(1);
    top: 6px;
    background-color: #000000;
    transition: 0.5s;
  }
  .header__menu.show-menu:after {
    transform: rotate(-45deg) scale(1);
    top: 6px;
    background-color: #000000;
    transition: 0.5s;
  }
  .header__menu.show-menu span {
    transform: scale(0);
  }
  .show-menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .show-menu {
    display: block;
  }
  .show-menu .menu__link {
    display: block;
    font-size: 20px;
    line-height: 33px;
  }
  .show-menu .menu__list {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .show-menu .hero__block-title {
    display: none;
  }
  .show-menu .hero__block-bio {
    display: none;
  }
}
.about {
  position: relative;
  background-color: #F6F6F6;
  padding: 0 0 70px 0;
}

.about__content-block {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about__content-title {
  text-align: center;
  padding: 120px 0 17px 0;
  font-family: "gilroy-bold";
  font-size: 34px;
  line-height: 42px;
}

.about__content-text {
  font-size: 18px;
  line-height: 22px;
  font-family: "gilroy-medium";
  margin: 0 0 40px 0;
}

.skills {
  position: relative;
  padding: 0 0 111px 0;
}

.skills__title {
  text-align: center;
  font-family: "gilroy-bold";
  font-size: 34px;
  line-height: 42px;
  margin: 91px 0 69px 0;
}

.skills__subtitle {
  text-align: center;
  font-family: "gilroy-medium";
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 83px 0;
}

.skills__content-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 790px) {
  .skills__content-block {
    display: flex;
    flex-direction: column;
  }
  .content__block-app {
    margin: 0;
  }
}
.content__block-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 167px 0 0;
}
.content__block-app:last-child {
  margin: 0%;
}

@media screen and (max-width: 790px) {
  .content__block-app {
    margin: 81px 0 0 0;
  }
  .content__block-app:last-child {
    margin: 81px 0 0 0;
  }
}
.app__text {
  font-family: "gilroy-bold";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  text-align: center;
  margin: 0 0 40px 0;
}

.app__pic-ps {
  margin: 0 0 27px 0;
  background: #0C0824;
}

.app__pic-ai {
  margin: 0 0 27px 0;
  background: #1C0A00;
}

.app__pic-ae {
  margin: 0 0 27px 0;
  background: #12002C;
}

.app__pic-fi {
  margin: 0 0 27px 0;
}

.app__raiting-block {
  width: 180px;
  margin: 0 auto;
}

.app__raiting-block span {
  padding: 0;
  font-size: 32px;
  margin: 0 3px;
  line-height: 1;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.app__raiting-block > span:before {
  content: "★";
}

.app__raiting-block > span.app__raiting-ps {
  color: #070707;
  border-radius: 1px;
}

.app__raiting-block > span.app__raiting-ae {
  color: #070707;
  border-radius: 1px;
}

.app__raiting-block > span.app__raiting-ai {
  color: #070707;
  border-radius: 1px;
}

.app__raiting-block > span.app__raiting-fi {
  color: #070707;
  border-radius: 1px;
}

.portfolio {
  position: relative;
  background: #F6F6F6;
  padding: 112px 0 96px 0;
}

.porfolio__content {
  text-align: center;
}

.portfolio__content-title {
  font-family: "gilroy-bold";
  font-size: 34px;
  line-height: 42px;
}

.portfolio__block-link {
  font-family: "gilroy-medium";
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  text-decoration-line: underline;
}

.content__block-photo {
  padding: 99px 0 44px 0;
}

@media screen and (max-width: 790px) {
  .content__block-photo {
    width: 100%;
  }
}
.contacts {
  position: relative;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 114px 0 123px 0;
}

.contacts__title {
  font-family: "gilroy-bold";
  font-size: 34px;
  line-height: 42px;
  margin: 0 0 20px 0;
}

.contacts__subtitle {
  font-family: "gilroy-medium";
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 29px 0;
  text-align: center;
}

.contacts__button {
  display: flex;
  padding: 20px;
  border: none;
  border-radius: 5%;
  background: #070707;
  color: #FFFFFF;
  font-family: "gilroy-bold";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 790px) {
  .contacts__button {
    padding: 5px 130px;
    border-radius: 0%;
  }
}
.contacts__text {
  margin: 45px 0 0 0;
  text-align: center;
  font-family: "gilroy-medium";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.icon__list {
  display: flex;
  flex-direction: row;
  margin: 79px 0 0 0;
  align-items: center;
}

.icon__item {
  margin: 0 20px 0 20px;
}

.icon__span {
  font-family: "gilroy-bold";
  font-size: 15px;
  border: 3px solid black;
  padding: 8px 11px;
  border-radius: 15px;
}