.menu {
  position: relative;
}
.menu:after {
  content: "";
  position: absolute;
  width: 920px;
  height: 0;
  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
  left: 0;
  top: 55px;
  background: black;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  font-family: "gilroy-bold";
  margin-right: 148px;
}
.menu__item:last-child {
  margin-right: 0%;
}

.menu__link {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}
.menu__link:hover {
  color: black;
  transition: 0.5s;
}

@media screen and (max-width: 990px) {
  .menu__link {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu:after {
    display: none;
  }
  .header__menu.show-menu:before {
    transform: rotate(45deg) scale(1);
    top: 6px;
    background-color: #000000;
    transition: 0.5s;
  }
  .header__menu.show-menu:after {
    transform: rotate(-45deg) scale(1);
    top: 6px;
    background-color: #000000;
    transition: 0.5s;
  }
  .header__menu.show-menu span {
    transform: scale(0);
  }
  .show-menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .show-menu {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
  }
  .show-menu .menu__link {
    display: block;
    font-size: 20px;
    line-height: 33px;
  }
  .show-menu .menu__list {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 468px) {
  .show-menu .menu__list {
    display: block;
  }
}