.menu {
  position: relative;
}
.menu:after {
  content: "";
  position: absolute;
  width: 920px;
  height: 0;
  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
  left: 0;
  top: 55px;
  background: black;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  font-family: "gilroy-bold";
  margin-right: 148px;
}
.menu__item:last-child {
  margin-right: 0%;
}

.menu__link {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}
.menu__link:hover {
  color: black;
  transition: 0.5s;
}