.portfolio {
  position: relative;
  background: #F6F6F6;
  padding: 112px 0 96px 0;
}

.porfolio__content {
  text-align: center;
}

.portfolio__content-title {
  font-family: "gilroy-bold";
  font-size: 34px;
  line-height: 42px;
}

.portfolio__block-link {
  font-family: "gilroy-medium";
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  text-decoration-line: underline;
}

.content__block-photo {
  padding: 99px 0 44px 0;
}

@media screen and (max-width: 790px) {
  .content__block-photo {
    width: 100%;
  }
}